hello

In [4]:
import pandas as pd

conditions = ["connfirmed", "deaths", "recovered"]

def make_country_df(condition, country):
    
    df = pd.read_csv("data/time_confirmed.csv")

    df = df.loc[df["Country/Region"] == "Afghanistan"]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"]).sum().reset_index(name="confirmed")

    df = df.rename(columns={"index": "date"})

    return df

final_df = None

for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

        date  confirmed
0    1/22/20          0
1    1/23/20          0
2    1/24/20          0
3    1/25/20          0
4    1/26/20          0
..       ...        ...
199   8/8/20      37054
200   8/9/20      37054
201  8/10/20      37162
202  8/11/20      37269
203  8/12/20      37345

[204 rows x 2 columns]